include versioneer.py
include .coveragerc
include README.md COPYING LICENSE
include requirements.txt dev_requirements.txt
include VERSION
include MANIFEST.in
include versioneer.py
include cif_elasticsearch/_version.py
recursive-include tests *
global-exclude *.retry
global-exclude *.pyc
global-exclude __pycache__